.parent > div{
    background-color:green;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 75px;
}
.parent{
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:first baseline;
    align-content:baseline;
   
}
#five{
    flex-shrink: 3;
}