#main-head{
    height: calc(100vh - 54px);
    background-image: url(book-stack-on-wood-desk-260nw-1017025384.webp) ;
    background-size: cover;
}
.page-section{
    padding: 6rem 0;
}
.section-heading{
    font-weight: bold;
    margin-bottom: 1rem;
}
.section-subheading{
    margin-bottom: 4rem;
}