#main-head{
    height: calc(100vh - 54px);
    background-image: url(photo-1481627834876-b7833e8f5570.jpeg) ;
    background-size: cover;
}
.page-section{
    padding: 6rem 0;
}
.section-heading{
    font-weight: bold;
    margin-bottom: 1rem;
}
.section-subheading{
    margin-bottom: 4rem;
}
